<div class="contentClass">
    <h2>Grant Admin Privilege</h2>
    <form [formGroup]="grantForm" (ngSubmit)="grantPrivilege()">
        <div class="form-group">
            <label class="inputLabel" for="email">User's Email:</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email is not valid</div>
            </div>
        </div>
    <button class="btn btn-primary">
        Make Admin
    </button>
  </form>
</div>

<div class="contentClass">
    <h2>Activate/Deactivate User</h2>
    <form [formGroup]="activateForm" (ngSubmit)="toggleActivate()">
        <div class="form-group">
            <label class="inputLabel" for="email">User's Email:</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': aSubmitted && af.email.errors }" />
            <div *ngIf="aSubmitted && af.email.errors" class="invalid-feedback">
                <div *ngIf="af.email.errors.required">Email is required</div>
                <div *ngIf="af.email.errors.email">Email is not valid</div>
            </div>
        </div>
    <button class="btn btn-primary">
        Toggle Activate/Deactivate
    </button>
  </form>
</div>

<div class="contentClass">
    <h2>All Reviews</h2>
    <div *ngFor="let review of reviews" class="review">
        {{review.pair.subjectCode}} {{review.pair.catalog_nbr}}
        <h4>{{review.creatorName}} on {{review.lastModified | date:'medium'}}: <span class="reviewText">{{review.message}}</span></h4>
        <p>Hidden: {{review.hidden}}
            <button (click)="toggleHidden(review.id)">Toggle Hidden</button>
        </p>
        <form [formGroup]="logReqForm" (ngSubmit)="logReq('request', review.id)">
            <div class="form-group">
                <label class="inputLabel" for="date">Date Request Recieved:</label>
                <input type="text" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': rfSubmitted && rf.date.errors }" />
                <div *ngIf="rfSubmitted && rf.date.errors" class="invalid-feedback">
                    <div *ngIf="rf.date.errors.required">Date is required</div>
                    <div *ngIf="rf.date.errors.maxlength">Date should be less than 100 characters</div>
                </div>
            </div>
        <button class="btn btn-primary">
            Log Request
        </button>
      </form>

      <form [formGroup]="logNotForm" (ngSubmit)="logReq('notice', review.id)">
        <div class="form-group">
            <label class="inputLabel" for="date">Date Notice Sent:</label>
            <input type="text" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': nfSubmitted && nf.date.errors }" />
            <div *ngIf="nfSubmitted && nf.date.errors" class="invalid-feedback">
                <div *ngIf="nf.date.errors.required">Date is required</div>
                <div *ngIf="nf.date.errors.maxlength">Date should be less than 100 characters</div>
            </div>
        </div>
        <button class="btn btn-primary">
            Log Notice
        </button>
      </form>

      <form [formGroup]="logDisForm" (ngSubmit)="logReq('dispute', review.id)">
        <div class="form-group">
            <label class="inputLabel" for="date">Date Dispute Recieved:</label>
            <input type="text" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': dfSubmitted && df.date.errors }" />
            <div *ngIf="dfSubmitted && df.date.errors" class="invalid-feedback">
                <div *ngIf="df.date.errors.required">Date is required</div>
                <div *ngIf="df.date.errors.maxlength">Date should be less than 100 characters</div>
            </div>
        </div>
        <button class="btn btn-primary">
            Log Dispute
        </button>
    </form>
       
        <div *ngFor = "let log of review.logs">
            {{log.typeReq}} logged on {{log.date}}
        </div>
    </div>
</div>