.contentClass {
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 1em;
    padding: 1em;
    border-radius: 4px;
}
.contentClass:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.reviewText {
    font-weight: 400;
}

.review {
    cursor: text;
    background-color: white;
    margin: .1em;
    padding: .5em;
    border-radius: 4px;
    display: inline-block;
  }