<h1>{{title}}</h1>

<h2 *ngIf="currentUser && currentUser.role == 'admin'">You are a site manager</h2>

<nav>
  <a *ngIf="currentUser" (click)="logout()">Logout</a>
  <a *ngIf="!currentUser" routerLink="/login">Login</a>
</nav>

<nav>
  <a routerLink="/subjects">Search Using Subject->CourseCode->Component</a>
  <a routerLink="/keyword-search">Search Using Keywords</a>   
  <a routerLink="/policies">View Policies</a>   
</nav>

<nav *ngIf="currentUser">
  <a routerLink="/schedules">Manage Schedules</a>
</nav>

<nav *ngIf="currentUser && currentUser.role == 'admin'">
  <a routerLink="/manage-users">Manage Users</a>
  <a routerLink="/manage-policies">Manage Policies</a>
</nav>

<router-outlet></router-outlet>
<!-- To be used testing purposes!
  <app-messages></app-messages> 
-->
