<div class="contentClass">
    <h2>Create Schedule</h2>
    <form [formGroup]="createSchedForm" (ngSubmit)="add()">
      <div class="form-group">
          <label class="inputLabel" for="schedName">New Schedule Name</label>
          <input type="text" formControlName="schedName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.schedName.errors }" />
          <div *ngIf="submitted && f.schedName.errors" class="invalid-feedback">
              <div *ngIf="f.schedName.errors.required">Schedule name is required</div>
              <div *ngIf="f.schedName.errors.maxlength">Schedule name should be no more than 50 characters</div>
          </div>
      </div>
      <div class="form-group">
          <label class="inputLabel" for="descr">Description</label>
          <input type="text" formControlName="descr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descr.errors }" />
          <div *ngIf="submitted && f.descr.errors" class="invalid-feedback">
              <div *ngIf="f.descr.errors.maxlength">Description should be no more than 500 characters</div>
          </div>
      </div>
      <div class="form-group">
          <label class="inputLabel" for="publicBool">Make Public</label>
          <input type="checkbox" formControlName="publicBool" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.publicBool.errors }"/>
      </div>
      <button class="btn btn-primary">
          Add
      </button>
      <div *ngIf="createError" class="alert alert-danger mt-3 mb-0">{{createError}}</div>
    </form>
</div>

<!--Display the private course lists-->
<div class="contentClass">
    <h2>Your Schedules</h2>
    <p *ngIf="fromSavePairAction === true && schedules.length">Click a schedule to save {{subjectCode}} {{courseCode}} pair</p>
    <p *ngIf="schedules.length == 0">You have no schedules. Create one above!</p>
    <table *ngIf="schedules.length" class="tableResult">
        <tr>
            <th *ngIf="fromSavePairAction === true">Save Pair To Schedule</th>
            <th>Expand</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Display</th>
            <th>Last Modified</th>
            <th>Schedule Name</th>
            <th>Creator Name</th>
            <th>Course Count</th>
            <th>Description</th>
            <th>Course IDs</th>
        </tr>
    
        <tr *ngFor="let schedule of schedules">
            <td *ngIf="fromSavePairAction === true">
                <button (click)="savePairToSched(schedule.name)">Save To This Schedule</button>
            </td>
            <td>
                <button (click)="toggleExpand(schedule)">Toggle Expand</button>
            </td>
            <td>
                <button *ngIf="!deleteConfirm" (click)="deleteConfirm = true">Delete</button>
                <p></p>
                <button *ngIf="deleteConfirm" (click)="delete(schedule)">Confirm </button>
                <button *ngIf="deleteConfirm" (click)="deleteConfirm = false"> Cancel</button>
            </td>
            <td>
                <button  [class.selected]="schedule === selectedSchedule" (click)="onSelect(schedule)">Edit</button>
            </td>
            <td>
                <nav>
                    <a routerLink="/{{schedule.name}}/timetable-results">Get timetable data</a>
                </nav>
            </td>
            <td>{{schedule.lastModified | date:'medium'}}</td>
            <td>{{schedule.name}}</td>
            <td>{{schedule.creatorName}}</td>
            <td>{{schedule.pairs.length}}</td>
            <td *ngIf="schedule.showDetail; else blankBlock">{{schedule.description}}</td>
            <td *ngIf="schedule.showDetail; else blankBlock">
                <p *ngFor="let pair of toArray(schedule.pairs)">
                    {{pair.subjectCode}} {{pair.catalog_nbr}}
                </p>
            </td>
            <ng-template #blankBlock>
                <td>...</td>
            </ng-template>
        </tr>
    </table>
    
</div>

<div *ngIf="selectedSchedule">
    <app-sched-detail [sched]="selectedSchedule"></app-sched-detail> 
</div>

<!--Display the public course lists as well-->
<app-public-course-lists></app-public-course-lists>
