<div class="contentClass">
    <h2>Create A Review for {{subjectCode}} {{courseCode}}</h2>
    <form [formGroup]="createReviewForm" (ngSubmit)="addReview()">
        <div class="form-group">
            <label class="inputLabel" for="message">Message:</label>
            <input type="text" formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" />
            <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                <div *ngIf="f.message.errors.required">Message is required</div>
                <div *ngIf="f.message.errors.maxlength">Message should be no more than 500 characters</div>
            </div>
        </div>
    <button class="btn btn-primary">
        Post Review
    </button>
  </form>
</div>
