<div class="contentClass">
    <h2>Search Using Keywords</h2>
    <p>This offers the ability to search courses based on a keyword where keyword is at least 4 
        characters long and matched with any substring within courseCode or className. 
        This keyword is soft-matched (ignoring white-space, minor spelling variations or mistakes).
    </p>
</div>

<div class="contentClass">
    <h2>Keyword Search</h2>
    <div>
        <form [formGroup]="keywrdSrchForm" (ngSubmit)="onKeywrdSrchSubmit()">
            <div class="form-group">
                <label class="inputLabel" for="keyword">Keyword </label>
                <input type="text" formControlName="keyword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.keyword.errors }" />
                <div *ngIf="submitted && f.keyword.errors" class="invalid-feedback">
                    <div *ngIf="f.keyword.errors.required">Keyword is required</div>
                    <div *ngIf="f.keyword.errors.minlength">Keyword must be at least 4 characters</div>
                    <div *ngIf="f.keyword.errors.maxlength">Keyword must be 200 or less characters</div>
                </div>
            </div>
            <button class="btn btn-primary">
                Search
            </button>
        </form>
    </div>
</div>